<!DOCTYPE html> 
<html> 
<head> 
		<meta charset="UTF-8" /> 
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" /> 
		<title id="title">Scrubbby Illustration and Design</title> 
		<meta name="description" content="Sym is a Creative onepage parallax template by Hencework." /> 
		<meta name="keywords" content="Sym, one page, onepage, parallax, portfolio, responsive, video, single page, singlepage, template, html5, studio, design, theme, agency, blog, bootstrap, business, creative, fullscreen, modern" /> 
		<meta name="author" content="Hencework" /> 
		 
		<link rel="shortcut icon" href="favicon.ico"> 
		<link rel="icon" href="favicon.ico" type="image/x-icon"> 
		 
		<!--Fonts - changed to Source Code Pro--> 
		<link href='https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700' rel='stylesheet' type='text/css'> 
		<link href='https://fonts.googleapis.com/css?family=Hind:400,300,500,600,700' rel='stylesheet' type='text/css'> 
		<!--CSS--> 
		<link rel="stylesheet" href="assets/css/style.css"> 
</head> 
<body id="body" class="home" data-spy="scroll" data-target=".navbar" data-offset="110"> 
<!--Preloader--> 
<div class="preloader-it"> 
	<div class="la-anim-1"></div> 
</div> 
<!--/Preloader--> 
<!-- Border--> 
	<div class="border"> 
		<div id="border-top"></div> 
		<div id="border-left"></div> 
		<div id="border-right"> 
			<nav class="navbar navbar-default vertical-nav" role="navigation"> 
				<ul class="nav navbar-nav"> 
					<li><a  href="#body"><span class="nav-dots"><span class="slant"></span></span></a></li> 
					<li><a data-scroll href="#about"><span class="nav-dots"><span class="slant"></span></span></a></li> 
					<li><a data-scroll href="#services"><span class="nav-dots"><span class="slant"></span></span></a></li> 
					<li><a data-scroll href="#work"><span class="nav-dots"><span class="slant"></span></span></a></li> 
					<li><a data-scroll href="#contact"><span class="nav-dots"><span class="slant"></span></span></a></li> 
				</ul> 
			</nav> 
		</div> 
		<div id="border-bottom"></div> 
	</div>	 
<!-- /Border --> 
 
<!--Header--> 
<div class="header"> 
	<div class="container"> 
		<nav class="navbar navbar-default" role="navigation"> 
		   <div class="navbar-header"> 
			  <button type="button" class="navbar-toggle" data-toggle="collapse"  
				 data-target="#example-navbar-collapse"> 
				 <span class="sr-only">Toggle navigation</span> 
				 <span class="icon-bar"></span> 
				 <span class="icon-bar"></span> 
				 <span class="icon-bar"></span> 
			  </button> 
			   <a class="navbar-brand" data-scroll href="index.html"> 
					<img class="dark" src="assets/img/logodark.png" alt="logo"/> 
			   </a> 
		   </div> 
		   <div class="collapse navbar-collapse" id="example-navbar-collapse"> 
			  <ul class="nav navbar-nav"> 
				<li><a data-scroll href="index.html">Home</a></li> 
				<li><a data-scroll href="aboutpage.html">about</a></li> 
				<li><a data-scroll href="gallery.html">Gallery</a></li> 
				
			  </ul> 
		   </div> 
			<div class="nav-trig"> 
				<div class="target-hamburger"> 
					<ul  class="hamburger"> 
						<li class="bun"></li> 
						<li class="bun"></li> 
						<li class="bun"></li> 
					</ul> 
				</div> 
			</div> 
		</nav> 
	</div> 
</div> 
<!--/Header--> 
 
<!--Slanted Overlay Menu--> 
<div class="nav-slanted"></div> 
<div class="nav-full-screen hidden"> 
	<nav class="navbar overlay-nav"  role="navigation"> 
		<div class="overlay-menu-menu"> 
			<ul  class="nav"> 
				<li class="menu-item active-menu"><a href="index.html">Home</a></li> 
				<li class="menu-item"><a href="aboutpage.html">about</a></li> 
				<li class="menu-item"><a href="gallery.html">gallery</a></li> 
			</ul> 
			<div class=""> 
				<ul class="social-icons"> 
						<li> 
						<a href="https://scrubbby.tumblr.com/">Tumblr</a> 
					</li> 
					<li> 
						<a href="https://twitter.com/scrubbby_">Twitter</a> 
					</li> 
					<li> 
						<a href="https://www.instagram.com/scrubbby.art/">Instagram</a> 
					</li>
				</ul> 
			</div> 
		</div>	 
	</nav> 
	 
</div> 
<!--/Slanted Overlay Menu--> 
 
<!--slider container--> 
<section id="slider" class="slider-container hero parallax-hero"> 
	<div class="slider-control left inactive"></div> 
	<div class="slider-control right"></div> 
	<ul class="slider-pagi"></ul> 
	<div class="slider  slider-height"> 
		 
		<!--Slider One--> 
		<div class="slide slide-0 active"> 
			<div class="slide__bg"></div> 
			<div class="slide__content"> 
				 
				<!--Slider Overlay--> 
				<!--<svg class="slide__overlay" viewBox="0 0 720 405" preserveAspectRatio="xMaxYMax slice"> 
					<path class="slide__overlay-path" d="M0,0 212,0 552,405 0,405" /> 
				</svg> -->
				<!--/Slider Overlay--> 
				<div class="container"> 
					<!--Slider Info--> 
					<div class="slide__text"> 
						<h1 class="slide__text-heading">Scrubbby Illustrative Works</h1> 
						<p class="slide__text-desc lead col-sm-4 pad-zero">Illustration, design, and an affinity for cute</p> 
						 
					</div> 
					<!--/Slider Info--> 
				</div>	 
			</div> 
		</div> 
		<!--/Slider One--> 
 
	</div> 
</section> 
<!--/slider container--> 
 
<!--Main Content--> 
<div class="main-content"> 
 
<!--About Sec--> 
<div style="background:#904c63;"> 
	<section id="about" class="container padding-sec-lg about-sec"> 
	<div class="row"> 
		<div class="col-lg-6 center-div"> 
			<h2> 
				Illustrator, Designer, and Animation Enthusiast
			</h2> 
			<div class="seprator"> 
				<span class="seprator-sm center-div"></span> 
			</div> 
		</div> 
	</div>	 
	<div class="clearfix"></div> 
	<div class="row"> 
		
			
	<div class="row about-info-row"> 
		<div class="col-lg-4"> 
			<p class="lead">If you want a beautiful illustration or stunning design work, I welcome you rely on me.</p> 
		</div> 
		<div class="col-lg-4"> 
			<p class="">I've worked on improving and specializing in illustration and design for half a decade and want to offer you the best that I can!</p> 
		</div> 
		<div class="col-lg-4"> 
			<p class="">...</p> 
		</div> 
	</div> 
	</section> 
</div>	 
<!--/About Sec--> 
 

 
	
	<!--/Service Icon Boxes --> 
	</div>	 
</div> 
</div> 
</section> 
<!--/Expertises Sec--> 


 

 

 

 
 
 

 
<!--Contact Sec--> 
<section id="contact"  class="contact-sec padding-sec-lg"> 
	<div class="form-wrap container" data-ng-controller="ContactController" data-ng-app="contactApp"> 
		<div class="row"> 
			<div class="col-lg-6 center-div"> 
				<h2> 
					Wanna order? Go Ahead!
				</h2> 
				<div class="seprator"> 
					<span class="seprator-sm center-div"></span> 
					 
				</div> 
			</div> 
		</div>	 
		<div class="clearfix"></div> 
		<form data-ng-submit="submit(contactform, $event)"  name="contactform" method="post" class=" form-horizontal" role="form"> 
			<div class="form-group col-lg-8 center-div" data-ng-class="{ 'has-error': contactform.inputName.$invalid && submitted }"> 
				<div class="input-wrap"> 
					<input data-ng-model="formData.inputName" type="text" class="form-control input__field input input__field--hoshi" id="inputName" name="inputName" placeholder="Name" required> 
				</div>	 
			</div> 
			<div class="form-group  col-lg-8 center-div" data-ng-class="{ 'has-error': contactform.inputEmail.$invalid && submitted }"> 
				<div class="input-wrap"> 
					<input data-ng-model="formData.inputEmail" type="email" class="form-control input input__field input__field--hoshi" placeholder="Your Email" id="inputEmail" name="inputEmail" required> 
				</div>	 
			</div> 
			<div class="form-group  col-lg-8 center-div" data-ng-class="{ 'has-error': contactform.inputMessage.$invalid && submitted }"> 
				<div class="input-wrap"> 
					<textarea data-ng-model="formData.inputMessage" class="form-control input input__field input__field--hoshi" rows="4" id="inputMessage" name="inputMessage" placeholder="message" required></textarea> 
				</div>	 
			</div> 
			<div class="form-group"> 
				<div class="center-div"> 
					<button  type="submit" class="btn btn-3 btn-3e icon-arrow-right" data-ng-disabled="submitButtonDisabled">send<i class="fa fa-angle-down"></i></button> 
				</div> 
			</div> 
		</form> 
		<p data-ng-class="result">{{ resultMessage }}</p> 
	</div> 
	 
	</div> 
</section> 
<!--/Contact Sec--> 
 
 
</div> 
<!--/Main Content--> 
<!--Footer Sec--> 
<section class="footer-sec"> 
	<footer> 
		<div class="sec-head"> 
			<div class="slanted-head"></div> 
			<div class="container center-div padding-sec-xs"> 
				<div class="copyright"> 
					<ul class="social-icons"> 
						<li> 
							<a href="https://scrubbby.tumblr.com/"> Tumblr
							</a> 
						</li> 
						<li> 
							<a href="https://twitter.com/scrubbby_"> Twitter
							</a> 
						</li> 
						<li> 
							<a href="https://www.instagram.com/scrubbby.art/"> Instagram
							</a> 
						</li> 
					</ul> 
				
				</div>	 
			</div>	 
		</div> 
		<div class="gototop"> 
			<a href="#body" data-scroll class="btn btn-3 btn-3e"><i class="fa fa-angle-up"></i></a> 
		</div> 
	</footer> 
</section>	 
<!--/Footer Sec--> 
 
<!--JavaScripts--> 
<script src="assets/js/jquery-1.12.4.min.js"></script> 
<script src="assets/js/angular.min.js"></script> 
<script src="assets/js/bootstrap.min.js"></script> 
<script src="assets/js/plugins.js"></script> 
<script src="assets/js/app.js"></script> 
<script src="assets/js/controllers.js"></script> 
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBxXt2P7-U38bK0xEFIT-ebZJ1ngK8wjww"></script> 
<script src="assets/js/init.js"></script> 
</body> 
</html> 
 
 
