<!DOCTYPE html> 
<html> 
<head> 
		<meta charset="UTF-8" /> 
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" /> 
		<title id="title">Scrubbby Illustration and Design</title> 
		<meta name="description" content="Sym is a Creative onepage parallax template by Hencework." /> 
		<meta name="keywords" content="Sym, one page, onepage, parallax, portfolio, responsive, video, single page, singlepage, template, html5, studio, design, theme, agency, blog, bootstrap, business, creative, fullscreen, modern" /> 
		<meta name="author" content="Hencework" /> 
		 
		<link rel="shortcut icon" href="favicon.ico"> 
		<link rel="icon" href="favicon.ico" type="image/x-icon"> 
		 
		<!--Fonts - changed to Source Code Pro--> 
		<link href='https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700' rel='stylesheet' type='text/css'> 
		<link href='https://fonts.googleapis.com/css?family=Hind:400,300,500,600,700' rel='stylesheet' type='text/css'> 
		<!--CSS--> 
		<link rel="stylesheet" href="assets/css/style.css"> 
</head> 
<body id="body" class="home" data-spy="scroll" data-target=".navbar" data-offset="110"> 
<!--Preloader--> 
<div class="preloader-it"> 
	<div class="la-anim-1"></div> 
</div> 
<!--/Preloader--> 
<!-- Border--> 
	<div class="border"> 
		<div id="border-top"></div> 
		<div id="border-left"></div> 
		<div id="border-right"> 
			<nav class="navbar navbar-default vertical-nav" role="navigation"> 
				<ul class="nav navbar-nav"> 
					<li><a data-scroll href="#body"><span class="nav-dots"><span class="slant"></span></span></a></li> 
					<li><a data-scroll href="#about"><span class="nav-dots"><span class="slant"></span></span></a></li> 
					<li><a data-scroll href="#services"><span class="nav-dots"><span class="slant"></span></span></a></li> 
					<li><a data-scroll href="#work"><span class="nav-dots"><span class="slant"></span></span></a></li> 
					<li><a data-scroll href="#contact"><span class="nav-dots"><span class="slant"></span></span></a></li> 
				</ul> 
			</nav> 
		</div> 
		<div id="border-bottom"></div> 
	</div>	 
<!-- /Border --> 
 
<!--Header--> 
<div class="header"> 
	<div class="container"> 
		<nav class="navbar navbar-default" role="navigation"> 
		   <div class="navbar-header"> 
			  <button type="button" class="navbar-toggle" data-toggle="collapse"  
				 data-target="#example-navbar-collapse"> 
				 <span class="sr-only">Toggle navigation</span> 
				 <span class="icon-bar"></span> 
				 <span class="icon-bar"></span> 
				 <span class="icon-bar"></span> 
			  </button> 
			   <a class="navbar-brand" data-scroll href="index.html"> 
					<img class="dark" src="assets/img/logodark.png" alt="logo"/> 
			   </a> 
		   </div> 
		   <div class="collapse navbar-collapse" id="example-navbar-collapse"> 
			  <ul class="nav navbar-nav"> 
				<li><a data-scroll href="#body">Home</a></li> 
				<li><a data-scroll href="#about">about</a></li> 
				<li><a data-scroll href="#services">services</a></li> 
				<li><a data-scroll href="#work">work</a></li> 
				<li><a data-scroll href="#contact">contact</a></li> 
			  </ul> 
		   </div> 
			<div class="nav-trig"> 
				<div class="target-hamburger"> 
					<ul  class="hamburger"> 
						<li class="bun"></li> 
						<li class="bun"></li> 
						<li class="bun"></li> 
					</ul> 
				</div> 
			</div> 
		</nav> 
	</div> 
</div> 
<!--/Header--> 
 
<!--Slanted Overlay Menu--> 
<div class="nav-slanted"></div> 
<div class="nav-full-screen hidden"> 
	<nav class="navbar overlay-nav"  role="navigation"> 
		<div class="overlay-menu-menu"> 
			<ul  class="nav"> 
				<li class="menu-item active-menu"><a data-scroll href="#body">Home</a></li> 
				<li class="menu-item"><a data-scroll href="#about">about</a></li> 
				<li class="menu-item"><a data-scroll href="#services">services</a></li> 
				<li class="menu-item"><a data-scroll href="#work">work</a></li> 
				<li class="menu-item"><a data-scroll href="#contact">contact</a></li> 
			</ul> 
			<div class=""> 
				<ul class="social-icons"> 
					<li> 
						<a href="#" class="social-icon"> 
							<i class="fa fa-facebook"></i> 
						</a> 
					</li> 
					<li> 
						<a href="#" class="social-icon"> 
							<i class="fa fa-twitter"></i> 
						</a> 
					</li> 
					<li> 
						<a href="#" class="social-icon"> 
							<i class="fa fa-linkedin"></i> 
						</a> 
					</li> 
					<li> 
						<a href="#" class="social-icon"> 
							<i class="fa fa-behance"></i> 
						</a> 
					</li> 
				</ul> 
			</div> 
		</div>	 
	</nav> 
	 
</div> 
<!--/Slanted Overlay Menu--> 
 
<!--slider container--> 
<section id="slider" class="slider-container hero parallax-hero"> 
	<div class="slider-control left inactive"></div> 
	<div class="slider-control right"></div> 
	<ul class="slider-pagi"></ul> 
	<div class="slider  slider-height"> 
		 
		<!--Slider One--> 
		<div class="slide slide-0 active"> 
			<div class="slide__bg"></div> 
			<div class="slide__content"> 
				 
				<!--Slider Overlay--> 
				<!--<svg class="slide__overlay" viewBox="0 0 720 405" preserveAspectRatio="xMaxYMax slice"> 
					<path class="slide__overlay-path" d="M0,0 212,0 552,405 0,405" /> 
				</svg> -->
				<!--/Slider Overlay--> 
				<div class="container"> 
					<!--Slider Info--> 
					<div class="slide__text"> 
						<h1 class="slide__text-heading">Scrubbby Illustrative Works</h1> 
						<p class="slide__text-desc lead col-sm-4 pad-zero">Illustration, design, and an affinity for cute</p> 
						<a class="col-sm-9 pad-zero" href="#" ><u>read more</u></a> 
					</div> 
					<!--/Slider Info--> 
				</div>	 
			</div> 
		</div> 
		<!--/Slider One--> 
 
	</div> 
</section> 
<!--/slider container--> 
 
<!--Main Content--> 
<div class="main-content"> 
 
<!--About Sec--> 
<div style="background:#904c63;"> 
	<section id="about" class="container padding-sec-lg about-sec"> 
	<div class="row"> 
		<div class="col-lg-6 center-div"> 
			<h2> 
				Illustrator, Designer, and Animation Enthusiast
			</h2> 
			<div class="seprator"> 
				<span class="seprator-sm center-div"></span> 
			</div> 
		</div> 
	</div>	 
	<div class="clearfix"></div> 
	<div class="row"> 
		
			
	<div class="row about-info-row"> 
		<div class="col-lg-4"> 
			<p class="lead">If you want a beautiful illustration or stunning design work, I welcome you rely on me.</p> 
		</div> 
		<div class="col-lg-4"> 
			<p class="">I've worked on improving and specializing in illustration and design for half a decade and want to offer you the best that I can!</p> 
		</div> 
		<div class="col-lg-4"> 
			<p class="">...</p> 
		</div> 
	</div> 
	</section> 
</div>	 
<!--/About Sec--> 
 
<!--Expertises Sec--> 
<section id="services" class="expertises-sec"> 
<div class="sec-head"> 
	<div class="slanted-head"></div> 
	<div class="container"> 
		<div class="row"> 
			<div class="col-xs-4"> 
				<div class="table-wrap"> 
					<div class="align-middle"> 
						<h4> 
							What do I offer? 
						</h4> 
						<h4> 
							Illustration
						</h4> 
						<div class="seprator sm-sep"> 
							<span class="seprator-sm black"></span> 
							 
						</div> 
					</div>	 
				</div>	 
			</div> 
			<div class="col-xs-8"> 
				<div class="table-wrap"> 
					<div class="align-middle text-right"> 
						<p> 
							Sketches, Paintings, and Lineart galore  
						</p> 
					</div> 
				</div> 
			</div> 
		</div>	 
	</div>	 
</div> 
<div style="background:#d3c4eb;"> 
<div class="container padding-sec-sm"> 
	<div class="row"> 
		<!-- Service Icon Boxes --> 
		<div class="col-lg-4 col-sm-6 service-wrap margin-btm-sm"> 
			<div class="expertise-block-wrap"> 
				<div class="row"> 
					<div class="service-content-wrap"> 
						<div class="col-sm-2"> 
							
						</div> 
						<div class="services-icon col-sm-10">             
							<div class="service-info-text">             
								<h3>Sketches</h3> 
								<h3>$5</h3>            
								<p>A clean, high quality sketch.</p>             
							</div>             
						</div> 
					</div>	 
				</div> 
				<div class="serch-wrap-sep"></div> 
				<div class="clearfix"></div> 
				
			</div>	 
		</div> 
		 
		<div class="col-lg-4 col-sm-6 service-wrap margin-btm-sm"> 
			<div class="expertise-block-wrap"> 
				<div class="row"> 
					<div class="service-content-wrap"> 
						<div class="col-sm-2"> 
							
						</div> 
						<div class="services-icon col-sm-10">             
							<div class="service-info-text">             
								<h3>Lineart</h3> 
								<h3>$10</h3>            
								<p>Dynamic lineart with thicks, thins, and a smooth quality .</p>             
							</div>             
						</div> 
					</div>	 
				</div> 
				<div class="serch-wrap-sep"></div> 
				<div class="clearfix"></div> 
				 
			</div>	 
		</div> 
 
		<div class="col-lg-4 col-sm-6 service-wrap margin-btm-sm"> 
			<div class="expertise-block-wrap"> 
				<div class="row"> 
					<div class="service-content-wrap"> 
						<div class="col-sm-2"> 
							
						</div> 
						<div class="services-icon col-sm-10">             
							<div class="service-info-text">             
								<h3>Flat Color</h3>   
								<h3>$15</h3>             
								<p>Flat color that is available as a transparent png, on a flat backgorund, and pairs nicely with lineart</p>             
							</div>             
						</div> 
					</div>	 
				</div> 
				<div class="serch-wrap-sep"></div> 
				<div class="clearfix"></div> 
				 
			</div>	 
		</div> 
 
		<div class="col-lg-4 col-sm-6 service-wrap"> 
			<div class="expertise-block-wrap"> 
				<div class="row"> 
					<div class="service-content-wrap"> 
						<div class="col-sm-2"> 
							
						</div> 
						<div class="services-icon col-sm-10">             
							<div class="service-info-text">             
								<h3>Dynamic Color</h3>
								<h3>$25</h3>             
								<p>Color but with a painted and blended shading and lighting.</p>             
							</div>             
						</div> 
					</div>	 
				</div> 
				<div class="serch-wrap-sep"></div> 
				<div class="clearfix"></div> 
				
			</div>	 
		</div> 
 
		<div class="col-lg-4 col-sm-6 service-wrap"> 
			<div class="expertise-block-wrap"> 
				<div class="row"> 
					<div class="service-content-wrap"> 
						<div class="col-sm-2"> 
							
 
						</div> 
						<div class="services-icon col-sm-10">             
							<div class="service-info-text">             
								<h3>Painted Illustrations</h3>
								<h3>$60</h3>             
								<p>Fully painted, a lineless style that brings you the look of an oil painting.</p>             
							</div>             
						</div> 
					</div>	 
				</div> 
				<div class="serch-wrap-sep"></div> 
				<div class="clearfix"></div> 
				
				</div> 
			</div>	 
		</div> 
		<div class="col-lg-4 col-sm-6 service-wrap"> 
			<div class="expertise-block-wrap"> 
				<div class="row"> 
					<div class="service-content-wrap"> 
						<div class="col-sm-2"> 
							
 
						</div> 
						<div class="services-icon col-sm-10">             
							<div class="service-info-text">             
								<h3>Backgrounds +$30 & Additional characters +$10</h3>        
								<p>Painted Backgrounds and more characters are considered extra.</p>                        
							</div>             
						</div> 
					</div>	 
				</div> 
				<div class="serch-wrap-sep"></div> 
				<div class="clearfix"></div> 
				
				</div> 
			</div>	 
		</div> 
 
	
	<!--/Service Icon Boxes --> 
	</div>	 
</div> 
</div> 
</section> 
<!--/Expertises Sec--> 
 
<!--Work Sec--> 
<section id="work" class="work-sec"> 
<div class="sec-head"> 
	<div class="slanted-head"></div> 
	<div class="container"> 
		<div class="row"> 
			<div class="col-xs-4"> 
				<div class="table-wrap"> 
					<div class="align-middle"> 
						<h4> 
							our work 
						</h4> 
						<div class="seprator sm-sep"> 
							<span class="seprator-sm black"></span> 
							 
						</div> 
					</div>	 
				</div>	 
			</div> 
			<div class="col-xs-8"> 
				<div class="table-wrap"> 
					<div class="align-middle"> 
						<div class="filter-wrap"> 
							<!-- Portfolio Filters -->  
							<ul id="filters" class="col-md-5 pad-zero"> 
								<li><a id="all" href="#" data-filter="*" class="active">all</a></li>	 
								<li><a href="#" data-filter=".branding">branding</a></li> 
								<li><a href="#" data-filter=".design">design</a></li> 
								<li><a href="#" data-filter=".photography">photo</a></li> 
								<li><a href="#" data-filter=".web">web</a></li> 
							</ul> 
							<!--/Portfolio Filters --> 
						</div>	 
					</div> 
				</div> 
			</div> 
		</div>	 
	</div>	 
</div> 
 	 
             
             
            <div id="portfolio-wrap" class="padding-sec-lg no-gutter"> 
             
            	<div id="portfolio" class="auto-construct" data-col="3"> 
                    <div class="item tall photography"> 
						<div class="hover" style="background:rgba(255 , 200 , 200,.95)"> 
							<div class="item-content hover-out" style="background-image:url(assets/img/portfolio/thumb1.jpg)"></div> 
							<div class="hover-in table-wrap"> 
								<div class="align-middle"> 
									<span class="category"></span> 
									<h4>Full Painting: No Background</h4> 
									<h4>$60</h4> 
									<span class="serch-wrap"> 
										<a class="gallery" href="assets/img/portfolio-big/lightbox1.jpg"><i class="fa fa-search"></i></a> 
									</span> 
									<span class="link-wrap"> 
										<a href="project.html"><i class="fa fa-link"></i></a> 
									</span> 
								</div> 
							</div> 
						</div> 
					</div> 
                     
                     
                     
                    <div class="item web"> 
						<div class="hover" style="background:rgba(235 , 90 , 90,.95)"> 
							<div class="item-content hover-out" style="background-image:url(assets/img/portfolio/thumb2.jpg)"></div> 
							<div class="hover-in table-wrap"> 
								<div class="align-middle"> </span> 
									<h4>Flat color</h4> 
									<h4>$15</h4> 
									<span class="serch-wrap"> 
										<a class="gallery" href="assets/img/portfolio-big/lightbox2.jpg"><i class="fa fa-search"></i></a> 
									</span> 
									<span class="link-wrap"> 
										<a href="project.html"><i class="fa fa-link"></i></a> 
									</span> 
								</div> 
							</div> 
						</div> 
                    </div> 
                     
                     
                     
                    <div class="item  print"> 
                    	<div class="hover" style="background:rgba(180 , 150, 240,.95)"> 
							<div class="item-content hover-out" style="background-image:url(assets/img/portfolio/thumb3.jpg)"></div> 
							<div class="hover-in table-wrap"> 
								<div class="align-middle"> 
									<span class="category"></span> 
									<h4>High Quality Sketch</h4>
									<h4>$5</h4>  
									<span class="serch-wrap"> 
										<a class="gallery" href="assets/img/portfolio-big/lightbox3.jpg" ><i class="fa fa-search"></i></a> 
									</span> 
									<span class="link-wrap"> 
										<a href="project.html"><i class="fa fa-link"></i></a> 
									</span> 
								</div> 
							</div> 
						</div> 
                     </div> 
                     
                     
                     
                    <div class="item wide-tall branding"> 
						<div class="hover" style="background:rgba(255 , 158 , 180,.95)"> 
							<div class="item-content hover-out" style="background-image:url(assets/img/portfolio/thumb4.jpg)"></div> 
							<div class="hover-in table-wrap"> 
								<div class="align-middle"> 
									<span class="category">Additional characters and painted background</span> 
									<h4>Dynamic Color</h4> 
									<h4>$55</h4> 
									<span class="serch-wrap"> 
										<a class="gallery" href="assets/img/portfolio-big/lightbox4.jpg" ><i class="fa fa-search"></i></a> 
									</span> 
									<span class="link-wrap"> 
										<a href="project.html"><i class="fa fa-link"></i></a> 
									</span> 
								</div> 
							</div> 
						</div> 
                    </div> 
                     
                     
                     
                    <div class="item  design branding"> 
                    	<div class="hover" style="background:rgba(170 , 40 , 70,.95)"> 
							<div class="item-content hover-out" style="background-image:url(assets/img/portfolio/thumb5.jpg)"></div> 
							<div class="hover-in table-wrap"> 
								<div class="align-middle"> 
									<span class="category"></span> 
									<h4>Lineart</h4> 
									<h4>$10</h4>
									<span class="serch-wrap"> 
										<a class="gallery" href="assets/img/portfolio-big/lightbox5.jpg" ><i class="fa fa-search"></i></a> 
									</span> 
									<span class="link-wrap"> 
										<a href="project.html"><i class="fa fa-link"></i></a> 
									</span> 
								</div> 
							</div> 
						</div> 
                    </div> 
                     
                     

                          
</section> 
<!--/Work Sec--> 
 

 

 
<!--Services Sec--> 
<section id="process" class="container padding-sec-lg service-sec"> 
<div class="row"> 
	<div class="col-sm-6 center-div"> 
		<h2> 
			the process 
		</h2> 
		<div class="seprator"> 
			<span class="seprator-sm center-div"></span> 
			 
		</div> 
	</div> 
</div>	 
<div class="row"> 
	<!-- Service Icon Boxes --> 
                <div class="col-sm-3 text-center"> 
                   	<div class="service-icon-top"> 
                    	<div class="process-icon"> 
							
 
						</div> 
						<h3>Place your order</h3> 
						<div class="relative-div"> 
							<div class="service-icon-wrap"> 
								<span>01</span> 
							</div> 
						</div> 
                        <p>I clarify the details and recieve payment via Paypal.</p> 
                    </div> 
                </div> 
                 
                <div class="col-sm-3 text-center"> 
                   	<div class="service-icon-top"> 
                    	<div class="process-icon"> 
							
						</div> 
						<h3>Sketching</h3> 
						<div class="relative-div"> 
							<div class="service-icon-wrap"> 
								<span>02</span> 
							</div> 
						</div> 
                        <p>I do the sketch and send it to the client for approval.</p> 
                    </div> 
                </div> 
                 
                <div class="col-sm-3 text-center"> 
                   	<div class="service-icon-top"> 
                    	<div class="process-icon"> 
						
						</div> 
						<h3>Lining, Coloring, Painting</h3> 
						<div class="relative-div"> 
							<div class="service-icon-wrap"> 
								<span>03</span> 
							</div> 
						</div> 
                        <p>The brunt of the work is on me!</p> 
                    </div> 
                </div> 
                 
                <div class="col-sm-3 text-center last"> 
                   	<div class="service-icon-top"> 
                    	<div class="process-icon"> 
							
 
						</div> 
						<h3>Sending your Illustration!</h3> 
						<div class="relative-div"> 
							<div class="service-icon-wrap"> 
								<span>04</span> 
							</div> 
						</div> 
                        <p>I'll export and make revisions on any part of the illustration and send it to you in the best quality and in your prefered format.</p> 
                    </div> 
                </div> 
                <!--/Service Icon Boxes --> 
</div> 
</section> 
<!--/Services Sec--> 
 

 
 
 

 
<!--Contact Sec--> 
<section id="contact"  class="contact-sec padding-sec-lg"> 
	<div class="form-wrap container" data-ng-controller="ContactController" data-ng-app="contactApp"> 
		<div class="row"> 
			<div class="col-lg-6 center-div"> 
				<h2> 
					Wanna order? Go Ahead!
				</h2> 
				<div class="seprator"> 
					<span class="seprator-sm center-div"></span> 
					 
				</div> 
			</div> 
		</div>	 
		<div class="clearfix"></div> 
		<form data-ng-submit="submit(contactform, $event)"  name="contactform" method="post" class=" form-horizontal" role="form"> 
			<div class="form-group col-lg-8 center-div" data-ng-class="{ 'has-error': contactform.inputName.$invalid && submitted }"> 
				<div class="input-wrap"> 
					<input data-ng-model="formData.inputName" type="text" class="form-control input__field input input__field--hoshi" id="inputName" name="inputName" placeholder="Name" required> 
				</div>	 
			</div> 
			<div class="form-group  col-lg-8 center-div" data-ng-class="{ 'has-error': contactform.inputEmail.$invalid && submitted }"> 
				<div class="input-wrap"> 
					<input data-ng-model="formData.inputEmail" type="email" class="form-control input input__field input__field--hoshi" placeholder="Your Email" id="inputEmail" name="inputEmail" required> 
				</div>	 
			</div> 
			<div class="form-group  col-lg-8 center-div" data-ng-class="{ 'has-error': contactform.inputMessage.$invalid && submitted }"> 
				<div class="input-wrap"> 
					<textarea data-ng-model="formData.inputMessage" class="form-control input input__field input__field--hoshi" rows="4" id="inputMessage" name="inputMessage" placeholder="message" required></textarea> 
				</div>	 
			</div> 
			<div class="form-group"> 
				<div class="center-div"> 
					<button  type="submit" class="btn btn-3 btn-3e icon-arrow-right" data-ng-disabled="submitButtonDisabled">send<i class="fa fa-angle-down"></i></button> 
				</div> 
			</div> 
		</form> 
		<p data-ng-class="result">{{ resultMessage }}</p> 
	</div> 
	<div class="address-sec padding-top-lg container"> 
		<div class="row"> 
			<div class="col-xs-4"> 
				<div class="icon col-md-1 col-sm-2 col-xs-1"><i class="fa fa-envelope"></i></div> 
				<div class="col-md-11 col-sm-10 col-xs-11"> 
					<span class="tag">email</span> 
				</div> 
				<div class="clearfix"></div> 
				<div class="col-lg-12">	 
					<a href="mailto:hello@Hencework.com" target="_blank">info@Sym.com</a> 
				</div>	 
			</div> 
			<div class="col-xs-4"> 
				<div class="icon col-md-1 col-sm-2 col-xs-1"><i class="fa fa-phone"></i></div> 
				<div class="col-md-11 col-sm-10 col-xs-11"> 
					<span class="tag">phone</span> 
				</div> 
				<div class="clearfix"></div> 
				<div class="col-lg-12">		 
					<a href="callto:954788315970" target="_blank">+95 (478) 831-5970</a> 
				</div>	 
			</div> 
			<div class="col-xs-4"> 
				<div class="icon col-md-1 col-sm-2 col-xs-1"><i class="fa fa-map-marker"></i></div> 
				<div class="col-md-11 col-sm-10 col-xs-11"> 
					<span class="tag">address</span> 
				</div> 
				<div class="clearfix"></div> 
				<div class="col-lg-12"> 
					<p>350 Fifth Avenue, NY 10118 USA.</p> 
				</div>	 
			</div> 
		</div>	 
	</div> 
</section> 
<!--/Contact Sec--> 
 
 
</div> 
<!--/Main Content--> 
<!--Footer Sec--> 
<section class="footer-sec"> 
	<footer> 
		<div class="sec-head"> 
			<div class="slanted-head"></div> 
			<div class="container center-div padding-sec-xs"> 
				<div class="copyright"> 
					<ul class="social-icons"> 
						<li> 
							<a href="scrubbby.tumblr.com"> Tumblr
							</a> 
						</li> 
						<li> 
							<a href="https://twitter.com/scrubbby_"> Twitter
							</a> 
						</li> 
						<li> 
							<a href="https://www.instagram.com/scrubbby.art/"> Instagram
							</a> 
						</li> 
					</ul> 
				
				</div>	 
			</div>	 
		</div> 
		<div class="gototop"> 
			<a href="#body" data-scroll class="btn btn-3 btn-3e"><i class="fa fa-angle-up"></i></a> 
		</div> 
	</footer> 
</section>	 
<!--/Footer Sec--> 
 
<!--JavaScripts--> 
<script src="assets/js/jquery-1.12.4.min.js"></script> 
<script src="assets/js/angular.min.js"></script> 
<script src="assets/js/bootstrap.min.js"></script> 
<script src="assets/js/plugins.js"></script> 
<script src="assets/js/app.js"></script> 
<script src="assets/js/controllers.js"></script> 
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBxXt2P7-U38bK0xEFIT-ebZJ1ngK8wjww"></script> 
<script src="assets/js/init.js"></script> 
</body> 
</html> 
 
 
